*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

body,html{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

.mainbody{
    z-index: 20;
    position: absolute;
    top: 115px;
    left: 240px;
    height: 100%;
    width: 83%;
    /* background-color: aqua; */
}

.scrollable_main_body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.row
{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    /* background-color: brown; */
    height: 350px;
    width: 100%;
}

.column_box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    width: 20px;
    /* background-color: aquamarine; */
}

.column_box_thumbnail{
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    /* background-color: blue; */
}
.column_box_title{
    height: 80px;
    width: 100%;
    /* background-color: green; */
}

.row_img{
    transform: scale(0.94);
    right: 561.1px;
    /* left: -218px; */
    position: relative;
    object-fit: contain;
}